body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/5_background/desert-bg.png');
    background-position: center;
    max-height: 100vh; 
    max-width: 100vw; 
    height: 100vh;
    width: 100vw;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    background-size: cover;
}

h1 {
    font-size: 56px;
    letter-spacing: 4px;
    text-shadow: 6px 4px 6px rgba(0, 0, 0, 0.5);
}


/* .startImages{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.startBtn_position {
    display: flex;
    justify-content: center;
    max-width: 720px;
}
.startBtn, .restartBtn {
    width: 224px;
    cursor: pointer;
    font-size: 40px;
    letter-spacing: 2px;
    text-shadow: 6px 4px 6px rgb(0 0 0 / 50%);
    padding: 8px;
    text-align: center;
}

.startBtn:hover, .restartBtn:hover {
    transform: scale(1.2);
}

.description {
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-shadow: 6px 4px 4px rgb(0 0 0 / 50%);
    font-size: 18px;
}

.space_between {
    max-width: 720px;
    display: flex;
    justify-content: space-around;
}

.fullscreen {
    width: 32px;
}

.d-none {
    display: none;
}

canvas {
    background-color: black;
    display: block;
}


/* passt noch nicht 100% */
.endScreen {
    position: absolute;
    z-index: 1;
    top: 250px;
    /* margin-top: -480px; */
}

@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .startScreen {
        width: 100%;
    }

    .endScreen {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .startScreen {
        height: 100%;
    }

    .endScreen {
        height: 100%;
    }
}
