body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('img/5_background/desert-bg.png');
    background-position: center;
    min-height: 100vh;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 64px;
    letter-spacing: 4px;
    text-shadow: 6px 4px 6px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: black;
}

@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  